.rotate {
    width: 150px;
    height: 150px;
    background-color: red;
    border-radius: 0;
    transition: transform 0.5s ease, border-radius 0.5s ease;
  }
  

.rotate:hover, 
.rotate:active   {
    transform: rotate(90deg);  
    border-radius: 50%;        
}