.box {
    width: 100px;
    height: 100px;
    background-color: teal;
    margin: 50px auto;
    transition: transform 2s;
}

.box:hover {
    transform: rotate(45deg) scale(1.5) translate(50px, 20px) skew(10deg, 10deg);
}